<div class="bg-black">
    <section class="bg-[url(/src/assets/Portada.jpeg)] h-dvh bg-cover bg-center">
    <div class="relative flex h-full flex-col items-center justify-center text-center text-white px-4">
        <div class="absolute inset-0 bg-azul/40"></div>
        <h1 class="font-titulos z-10 text-6xl" >E-OIL&GAS SUPPLIES C.A</h1>
        <h2 class="font-subtitulos z-10 text-4xl">INGENIERIA QUE INTEGRA SOLUCIONES</h2>
    </div>  
</section> 