<!-- ---
import Layout from '../layouts/Layout.astro';
import TextArea from '../components/formulario/TextArea.astro';
import InputTextForm from '../components/formulario/InputTextForm.astro';
import LabelForm from '../components/formulario/LabelForm.astro';
---
<Layout>
   <div class="min-h-dvh flex flex-col justify-center items-center px-6 md:px-20 bg-black">
    <div class="bg-gris w-full max-w-2xl shadow-lg rounded-2xl overflow-hidden p-8 md:p-20">
      <form action="#" class="flex flex-col space-y-2.5">

        <LabelForm name="Nombre" id="name" />
        <InputTextForm name="Nombre" id="name" />
        
        <LabelForm name="Correo Electrónico" id="email" />
        <InputTextForm name="Correo Electrónico" id="email" />
        
        <LabelForm name="Mensaje" id="message" />
        <TextArea name="Mensaje" id="message" />
       
        <button type="submit" class="mt-6 bg-azul text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition-colors">
          Enviar
        </button>
      </form>
    </div>
  </div>
</Layout> -->