---

import TituloFooter from "./footer/TituloFooter.astro"
import TextoFooter from "./footer/TextoFooter.astro"
--- 
<div class="flex flex-col items-center">
   <TituloFooter title="Contacto"/>
   <TextoFooter title=" Ing. Giuseppe Diomede P. +58 414-5904346" />
   <TextoFooter title=" Ing. Carlos C. Ríos M. +58 414-3805943" />
   <TextoFooter title="Ing. David E. Bello l. +58 424-7015122" /> 
</div>