---
import LinksFooter from "./LinksFooter.astro"
import TituloFooter from "./footer/TituloFooter.astro"
---
<div class="ml-10 flex flex-col justify-center">
    <TituloFooter title="Navegacion"/>
    <ul>
        <LinksFooter title="Inicio"/>
        <LinksFooter title="Quienes Somos"/>
        <LinksFooter title="Razon de ser"/>
        <LinksFooter title="Propuesta de valor diferencial"/>
        <LinksFooter title="Portafolio de servicios"/>
        <LinksFooter title="Clientes"/>
        <LinksFooter title="Experiencia"/>
        <LinksFooter title="Contacto"/>
    </ul>
</div>