
---
const {title,link="#"}=Astro.props
---
<div class="flex px-2">
    <a class="font-subtitulos  text-lg md:text-xl border-b-2 border-transparent hover:border-white text-white  hover:text-gris" href={link}>{title}</a>
</div>